body {
    background-color: #fdfdfd8f;
}

a {
    text-decoration: none;
    color: #8cb4c4;
}

/* Header */
#titolo {
    line-height: 10px;
    font-family: comic;
    /* mostra o tipo de fonte  */
    text-align: center;
    color: #1179a1;
}

nav {
    background-color: #6eb4cf38;
    height: 70px;
    display: flex;
    /* Torna o nav um contêiner flexível */
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    align-items: center;
    /* Centraliza os itens verticalmente */
}

nav>a {
    color: #1179a1;
    font-size: 36px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    margin: 0 15px;
    /* Espaçamento horizontal entre os links */
    transition: 0.5s;
}

nav>a:hover {
    text-decoration: underline;
    font-size: 39px;
    transition: 0.5s;
}

nav a:first-child {
    font-size: 24px;
    /* Aumenta o tamanho do ícone */
    color: #000000;
    /* Define a cor do ícone */
    margin-right: 10px;
    /* Dá um pouco de espaço após o ícone */
    text-decoration: none;
    /* Remove sublinhado */
}

nav a:first-child:hover {
    color: #1179a1;
    /* Altera a cor ao passar o mouse */
}



/* index abaixo  */
/* span é pára marcarsoi diretas no texto como por ex mudar a cor de uma palavra expesifica  */
span {
    color: red;
}

#artigo1 {
    background-color: #1178a100;
    position: static;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
    border-radius: 100px;
    border-color: #1179a1;
    border: solid 1px;
    box-shadow: 5px 5px 5px 3px #1179a1;
    text-align: justify;
    padding: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.nota {
    text-align: right;
    font-size: 17px;
}

#artigo2 {
    background-color: #1178a100;
    position: static;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
    border-radius: 100px;
    border-color: #1179a1;
    border: solid 1px;
    box-shadow: 5px 5px 5px 3px #1179a1;
    text-align: justify;
    padding: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#alexandre {
    width: 60%;
    margin: auto;
    display: block;
}

.titolo {
    font-family: comic;
    /* mostra o tipo de fonte  */
    text-align: center;
    color: #1179a1;
}



/* gp2 abaixo  */

#interno2 {
    background-color: #0065a8;
    color: #1179a1;
    position: fixed;
    margin-right: 80%;
    margin-left: 0px;
    text-align: center;
    margin-top: -100px;
    padding-top: 3%;
    padding-bottom: 5%;
    width: 300px;
    font-size: 24px;
}

#v1 {
    background-color: #000000;
    position: static;
    margin-left: 20%;
    margin-right: 50%;
    margin-top: 3%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: end;
    text-align: right;
}

#v2 {
    background-color: #000000;
    position: static;
    margin-left: 65%;
    margin-right: 5%;
    margin-top: -400px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: end;
    text-align: right;
}

#v3 {
    background-color: #000000;
    position: static;
    margin-left: 20%;
    margin-right: 50%;
    margin-top: 3%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: end;
    text-align: right;
}

#v4 {
    background-color: #000000;
    position: static;
    margin-left: 65%;
    margin-right: 5%;
    margin-top: -400px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: end;
    text-align: right;
}

#v5 {
    background-color: #000000;
    position: static;
    margin-left: 20%;
    margin-right: 50%;
    margin-top: 3%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: end;
    text-align: right;
}

#v6 {
    background-color: #000000;
    position: static;
    margin-left: 65%;
    margin-right: 5%;
    margin-top: -400px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: end;
    text-align: right;
}


/* pagina 3 abaixo */


#interno3 {
    background-color: #0065a8;
    color: #1179a1;
    position: fixed;
    margin-right: 80%;
    margin-left: -65px;
    text-align: center;
    margin-top: 630px;
    padding-top: 3%;
    height: 678px;
    width: 300px;
    font-size: 24px;
}


#banda {
    background-color: #1178a100;
    position: static;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 60px;
    border-radius: 100px;
    border-color: #1179a1;
    text-align: justify;
    padding: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#Champignon {
    background-color: #1178a100;
    position: static;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 60px;
    border-radius: 100px;
    border-color: #1179a1;
    text-align: justify;
    padding: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#RenatoPelado {
    background-color: #1178a100;
    position: static;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 60px;
    border-radius: 100px;
    border-color: #1179a1;
    text-align: justify;
    padding: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#Marcão {
    background-color: #1178a100;
    position: static;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 60px;
    border-radius: 100px;
    border-color: #1179a1;
    text-align: justify;
    padding: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#Thiago {
    background-color: #1178a100;
    position: static;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 60px;
    border-radius: 100px;
    border-color: #1179a1;
    text-align: justify;
    padding: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}